<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="static/web/css/boton.css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br> <br> <br> <br> <br> <br> <br> <br> 
<div class="container">
       <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <form class="well form-horizontal">
                      
                      <fieldset>
                         
                        
                          <center> <img src="static/web/img/2.png" alt="ini" width="100" height="110"> </center>
                        <br> <br>
                         <div class="form-group">
                            <label class="col-md-4 control-label">Usuario</label>
                            <div class="col-md-8 inputGroupContainer">
                                 <div class="input-group">
                                    <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                    <input type="text">
                               </div>
                            </div>
                         </div>
                       <div class="form-group">
                            <label class="col-md-4 control-label">Contraseña</label>
                            <div class="col-md-8 inputGroupContainer">
                               <div class="input-group">
                                  <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                                  <input type="password">
                               </div>
                            </div>
                         </div>
                        <center> <a href="Dashboard.html" ><div class="container-2">
                              <div class="btn btn-two">
                                  <span>Ingresar</span>
                              </div>
                            </div> </a></center>
                      </fieldset>
                   </form>
                </td>
               
             </tr>
          </tbody>
       </table>
    </div>