<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Big Education Data</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="static/web/assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="static/web/assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="static/web/assets/vendor/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="static/web/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />
        

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="static/web/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="static/web/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="static/web/assets/vendor/morris/morris.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="static/web/assets/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="static/web/assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
        <link rel="stylesheet" href="static/web/assets/stylesheets/theme-custom.css">
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js">
        {{script|safe}}
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js">
        {{script2|safe}}
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js">
        {{script3|safe}}
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js">
		{{script4|safe}}
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js">
        {{script5|safe}}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js"></script>

		<!-- Head Libs -->
		<script src="static/web/assets/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
		
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Dashboard</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard</span></li>
							</ol>
					
							
						</div>
					</header>

						<div class="row">
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>

									<h2 class="panel-title">GRÁFICA LINEAL</h2>
									<p class="panel-subtitle">Esta gráfica representa el comportamiento de la deserción de los estudiantes de eduacion Básica entre los años 2011 a 2017</p>
								</header>
								<div class="panel-body">

									<!-- Flot: Basic -->
									<div id="flotDashBasic"></div>
                                    {{div|safe}}
								</div>
							</section>
						</div>
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title">GRÁFICA DE BARRAS</h2>
									<p class="panel-subtitle">Esta gráfica representa los resultados generados de cada uno de los factores que componen las pruebas Pisa y su evolución a través de los años.</p>
								</header>
								<div class="panel-body">

									<!-- Flot: Curves -->
									<div id="flotDashRealTime"></div>
                                    {{div2|safe}}
								</div>
							</section>
						</div>
                    </div>
                    
                   <div class="row">
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>

									<h2 class="panel-title">GRÁFICA DE TORTA</h2>
									<p class="panel-subtitle">Esta gráfica representa a nivel de continente la proporcion de alumnos graduados de educacionde terciaria (Pregrado)</p>
								</header>
								<div class="panel-body">

									<!-- Flot: Basic -->
									<div id="flotDashBasic"></div>
                                    {{div3|safe}}
								</div>
							</section>
						</div>
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title">GRÁFICA DE DISPERSIÓN </h2>
									<p class="panel-subtitle">En esta gráfica se representa la correlación entre las variables de PIB invertido en educación vs la tasa de alumnos graduados de educación terciaria (pregrado) </p>
								</header>
								<div class="panel-body">

									<!-- Flot: Curves -->
									<div id="flotDashRealTime"></div>
                                    {{div4|safe}}
								</div>
							</section>
						</div>
					</div>
					


					<div class="col-md-6">
						<section class="panel">
							<header class="panel-heading">
								<div class="panel-actions">
									<a href="#" class="fa fa-caret-down"></a>
									<a href="#" class="fa fa-times"></a>
								</div>
								<h2 class="panel-title">GRÁFICA DE TENDENCIA</h2>
								<p class="panel-subtitle">Esta gráfica representa la evolución en el tiempo en la tasa de Analfabetismo</p>
							</header>
							<div class="panel-body">

								<!-- Flot: Curves -->
								<div id="flotDashRealTime"></div>
								{{div5|safe}}
							</div>
						</section>
					</div>
				</div>        
	</body>
</html>