<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<!-- Design by Free CSS Templates http://www.freecsstemplates.org Released for free under a Creative Commons Attribution 2.5 License Title : Travel Portal Version : 1.0 Released : 20070618 Description: A two-column, fixed-width template. -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" /><title>Proyecto Final Diplomado Big Data And Business Inteligence</title>

<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="static/web/default.css" rel="stylesheet" type="text/css" />
<link href="static/web/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="static/web/css/style.css" rel="stylesheet" type="text/css">
	<link href="static/web/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="static/web/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="static/web/css/magnific-popup.css" rel="stylesheet" type="text/css">
	<link href="static/web/css/animate.css" rel="stylesheet" type="text/css">
</head>


<body>
<div id="page">
<div id="sidebar">
<div id="logo">
<h1><a href=""></a></h1>

</div>
<!-- end header -->

<!-- end menu -->

</div>
<!-- end sidebar -->
<div id="content">	
<div><img src="static/web/images/Big_Data.jpg" alt="" height="220" width="740" /></div>
<div class="boxed">
<h1 class="title2">BIG EDUCATION DATA</h1>
<p>La educación es un derecho humano, y sin lugar a duda es uno de los factores que más influye en el avance de individuos y naciones. Esto no solo a nivel cultural, pues en un mundo en el que la transformación de la ciencia y sus aplicaciones evolucionan aceleradamente, afectando en igual medida algunos elementos de la economía global, es clave que los países estén preparados para afrontar este tipo de cambios si esperan conseguir un desarrollo integral.

Este proyecto nace con el fin de efectuar un análisis general sobre los factores principales del contexto educativo mundial, en el que se esperan delimitar aquellos componentes clave, a través de los cuales sea posible comprender los elementos fundamentales que, confirmados a partir de datos, puedan llegar a aportar valor en la toma de decisiones.</p>
<h3>Integración de las herramientas de Big Data en el proyecto</h3>
<p>Con el fin de obtener un marco de trabajo adecuado, en el que se integren de manera efectiva los componentes necesarios para la correcta consecución del proyecto, se trabajará bajo una distribución del sistema operativo Linux, llamada Ubuntu, en su versión 18.04.1 LTS. En esta se hará uso de la herramienta libre basada en los lenguajes Python y R, llamada Anaconda, la cual es una poderosa distribución utilizada principalmente para la ciencia de datos (Data Scientists) y el aprendizaje automático (Machine Learning); en este sentido, para este proyecto se propone una estructura basada en tres componentes generales: datos, análisis y presentación.

En el componente de datos se alojará la información recolectada, clasificada, normalizada y relacionada, la cual servirá como soporte a las siguientes fases del proyecto; el componente de análisis, donde se efectuarán los ejercicios estadísticos sobre los datos, estará soportado a través de la herramienta Pandas, la cual es una librería de Python destinada al análisis estadístico de datos. Finalmente, el componente de presentación, en el que se integran por un lado Django, como framework web a través del cual se manejará la gestión del modelo MVC (Modelo Vista-Controlador) y por el otro Bokeh, también basada en Python, y la cual está enfocada en la presentación interactiva de grandes volúmenes de datos.</p>
<blockquote>
<div><center><img src="static/web/images/Modelo.png" alt="" height="520" width="440" /></center></div>
<center><p>Esta es la arquitectura propuesta para este proyecto de Big Data.</p></center>
</blockquote>

</div>

</div>
<!-- end content -->
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
<p id="legal">Copyright © 2018 Big Education Data. All Rights
Reserved. Designed by Walter Sanchez, Jhonathan Acosta, Arley Sepulveda</p>


</body></html>